@media screen and (min-width: 320px) {
	.fondoModal {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: rgba(var(--blk-op), 0.5);
		z-index: 10;
	}
	.modal {
		background: var(--white);
		font-family: Barlow;
		font-weight: 400;
		font-size: 0.6rem;
		color: var(--blk-clr);
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;
		text-align: center;
		transform: translate(-50%, -50%);
		padding: 2.5rem;
		border-radius: 5px;
	}
	.cerrar {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 35px;
		height: 35px;
	}
	.cerrar:hover {
		cursor: pointer;
	}
	.cruz1,
	.cruz2 {
		width: 35px;
		height: 3px;
		margin: 4px 0;
		border-radius: 3px;
		background: var(--blk-clr);
	}
	.cruz1 {
		-webkit-transform: rotate(-45deg) translate(-10px, 7px);
		transform: rotate(-45deg) translate(-10px, 7px);
	}
	.cruz2 {
		-webkit-transform: rotate(45deg) translate(2px, 4px);
		transform: rotate(45deg) translate(2px, 4px);
		width: 35px;
	}
}
@media screen and (min-width: 768px) {
	.modal {
		background: var(--white);
		font-family: Barlow;
		font-weight: 400;
		font-size: 0.9rem;
		color: var(--blk-clr);
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;
		text-align: center;
		transform: translate(-50%, -50%);
		padding: 4rem;
		border-radius: 5px;
	}
}
@media screen and (min-width: 1024px) {
	.modal {
		background: var(--white);
		font-family: Barlow;
		font-weight: 400;
		font-size: 0.8rem;
		color: var(--blk-clr);
		position: absolute;
		top: 50%;
		left: 50%;
		width: 50%;
		text-align: center;
		transform: translate(-50%, -50%);
		padding: 2.5rem;
		border-radius: 5px;
	}
}
