@font-face {
	font-family: Garamond;
	src: url(./fonts/Garamond/GARA.TTF);
	font-weight: normal;
}
@font-face {
	font-family: Garamond;
	src: url(./fonts/Garamond/GARABD.TTF);
	font-weight: bold;
}
@font-face {
	font-family: Barlow;
	src: url(./fonts/Barlow/BARLOW-REGULAR.TTF);
	font-weight: 400;
}
@font-face {
	font-family: Barlow;
	src: url(./fonts/Barlow/BARLOW-MEDIUM.TTF);
	font-weight: 500;
}
@font-face {
	font-family: Barlow;
	src: url(./fonts/Barlow/BARLOW-LIGHT.TTF);
	font-weight: 300;
}
@font-face {
	font-family: Barlow;
	src: url(./fonts/Barlow/BARLOW-EXTRALIGHT.TTF);
	font-weight: 200;
}
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
:root {
	--blk-clr: #000000;
	--cyan-clr: #75ded7;
	--white: #ffffff;
	--blk-op: 000, 000, 000;
}
a {
	text-decoration: none;
	color: var(--white);
}
